<launch>
    <!-- ORB-SLAM3 -->
    <node name="orb_slam3_stereo" pkg="orb_slam3_ros_wrapper" type="orb_slam3_ros_wrapper_stereo" output="screen">

        <remap from="/camera/left/image_raw"    to="/device_0/sensor_0/Infrared_1/image/data"/>
        <remap from="/camera/right/image_raw"   to="/device_0/sensor_0/Infrared_2/image/data"/>

        <!-- Parameters for original ORB-SLAM3 -->
        <param name="voc_file"      type="string"   value="$(find orb_slam3_ros_wrapper)/config/ORBvoc.txt" />
        <param name="settings_file" type="string"   value="$(find orb_slam3_ros_wrapper)/config/Realsense_d405_stereo.yaml" />

        <!-- Parameters for ROS -->
        <param name="world_frame_id"    type="string"   value="world" />
        <param name="cam_frame_id"      type="string"   value="camera" />
        <param name="enable_pangolin"   type="bool"     value="true" />

        <param name="trajectory_file"            type="string"   value="/home/jakemclaughlin/results/d405_stereo_full_trajectory.txt" />
        <param name="keyframe_trajectory_file"   type="string"   value="/home/jakemclaughlin/results/d405_stereo_keyframe_trajectory.txt" />
    </node>

    <!-- Visualization - RViz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find orb_slam3_ros_wrapper)/config/orb_slam3_with_imu.rviz" output="screen" />

    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_orb_slam3" output="screen" ns="orb_slam3_ros" >
        <param name="/target_frame_name" value="/world" />
        <param name="/source_frame_name" value="/camera" />
        <param name="/trajectory_update_rate" value="20.0" />
        <param name="/trajectory_publish_rate" value="20.0" />
    </node>
</launch>